<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Panacea.Modularity" version="0.0.2" targetFramework="net462" />
  <package id="Panacea.Modularity.VlcMediaPlayer" version="0.0.1" targetFramework="net462" />
  <package id="Vlc.Binaries-2-2-6" version="1.0.0" targetFramework="net462" />
</packages>